<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>aaa</servlet-name>
        <servlet-class>com.sf.Test</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>aaa</servlet-name>
        <url-pattern>/one</url-pattern>
    </servlet-mapping>
</web-app>